.post{
    .post-title{
        font-weight: bold;
    }
    .post-content{
        font-size: 18px;
    }
    p{
        line-height: 32px;
        padding: 10px 0;
        font-size: 20px;
        word-wrap: break-word;
    }
}
